decentraveller-blockchain/cache
decentraveller-blockchain/artifacts
decentraveller-blockchain/deployments

decentraveller-indexer/build


decentraveller-app/.idea/

volumes/

*node_modules/*
*.idea*
__pycache__*
*.db
*.expo/*
*package-lock.json
*yarn.lock
*.env