decentraveller-blockchain/cache
decentraveller-blockchain/artifacts
decentraveller-blockchain/deployments

decentraveller-indexer/build


decentraveller-app/.idea/

*node_modules/*
*.idea*
__pycache__*
*.db
*.expo/*
*package-lock.json
*yarn.lock
*.env
decentraveller-blockchain/data/ba_places.json
decentraveller-blockchain/data/ba_reviews.json
decentraveller-blockchain/data/ba_users.json